*{
    margin: 0;
    padding: 0;
}

body{
    background-color: 	lightskyblue;
}

.contents{
    width: 100vw;
    height: 100vh;
    background-color: rgb(135, 206, 250);
}
h1 {
  background: #AFEEEE;/*背景色*/
  padding: 0.5em;/*文字まわり（上下左右）の余白*/
}
h2 {
  /*線の種類（実線） 太さ 色*/
  border-bottom: solid 3px black;
}
