*{
    margin: 0;
    padding: 0;
}

body{
    background-color: 	lightskyblue;
}

.contents{
    width: 100vw;
    height: 100vh;
    background-color: rgb(135, 206, 250);
}
h1 {
  background: #AFEEEE;/*背景色*/
  padding: 0.5em;/*文字まわり（上下左右）の余白*/
}
h2 {
  color: #000000;/*文字色*/
  padding: 0.1em 0;/*上下の余白*/
  border-top: solid 3px #4682B4;/*上線*/
  border-bottom: solid 3px #4682B4;/*下線*/
}
h3 {
  padding: 0.1em;/*文字周りの余白*/
  color: #000000;/*文字色*/
  background: #7aefff;/*背景色*/
  border-left: solid 5px #00BFFF;/*左線（実線 太さ 色）*/
}
